
html {
    box-sizing: border-box;
    background: #eaecfa;

}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    color: #3c4859;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    line-height: 1.35;
    background:     #3c4859;;
}

body.on-main-view {
    background: #222;
}

.hide-elm {
    display: none;
}

.center-text {
    text-align: center;
}

.has-vid {
    text-align: center;
    margin-bottom: 10px;
		color:crimson;
}

.has-vid video {
    display: inline-block;
}

.color-white {
    color: #fff;
}

#videoBlock {
    height: 85vh;
}